<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">SSO Login and Registration System</h1>
        <div class="row">
            <div class="col-sm-5 bg-light border rounded py-3">
                <h2 class="text-center">Login</h2>
                <form action="login" method="POST">
                    <div class="form-group">
                        <label for="_email">Email</label>
                        <input type="text" name="email" id="_email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="_pass">Password</label>
                        <input type="password" name="password" id="_pass" class="form-control" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="_rpass"></label>
                        <input type="hidden" name="redirectUrl" id="redirectUrl" class="form-control" placeholder="redirectUr"
                            required>
                    </div>
                    <% if (locals.login_errors) { login_errors.forEach(function(error_msg){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error_msg %>
                        </div>
                        <% }); } %>
                            <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-sm-6 bg-light rounded border py-3 offset-sm-1">
                <h2 class="text-center">Register</h2>

                <form action="/auth/register" method="POST" novalidate>
                    <div class="form-group">
                        <label for="_rname">first name</label>
                        <input type="text" name="firstName" id="_rname" class="form-control" placeholder="First Name"
                            value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
                    </div>
                    <div class="form-group">
                        <label for="_rname">last name</label>
                        <input type="text" name="lastName" id="_rname" class="form-control" placeholder="last Name"
                            value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
                    </div>
                    <div class="form-group">
                        <label for="_remail">Email</label>
                        <input type="email" name="email" id="_remail" class="form-control" placeholder="Email"
                            value="<%= (locals.old_data) ? old_data.user_email : ''; %>" required>
                    </div>
                    <div class="form-group">
                        <label for="_rname">User Role</label>
                        <input type="text" name="userRole" id="_rname" class="form-control" placeholder="last Name"
                            value="<%= (locals.old_data) ? old_data.user_name : ''; %>" required>
                    </div>
                    <div class="form-group">
                        <label for="_rpass">Password</label>
                        <input type="password" name="password" id="_rpass" class="form-control" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="_rpass">redirectUrl</label>
                        <input type="text" name="hidden" id="redirectUrl" class="form-control" placeholder="redirectUr"
                            required>
                    </div>
                    <% if (locals.register_error) { register_error.forEach(function(error_msg){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error_msg %>
                        </div>
                        <% }); } %>
                            <button type="submit" class="btn btn-success">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
   <script>
    let params = new URLSearchParams(document.location.search.substring(1));
            let redirectUrl = params.get("redirectUrl"); 
            document.getElementById("redirectUrl").value = redirectUrl;
    </script>
</body>

</html>